# Ignore everything
*

# But do not ignore following files/directories:
!.gitignore
!README.md
!SpaceShooter.sln
!SpaceShooter.vcxproj
!PostBuild.bat
!Assets
!Source
!Source/Collision
!Source/Core
!Source/Graphics
!Source/Input
