# Ignore everything
*

# But do not ignore following files/directories:
!.gitignore
!README.md
!SpaceShooter.sln

!Engine/Engine.vcxproj
!Engine/Include/**
!Engine/Source/**

!Game/Game.vcxproj
!Game/Source/**
!Game/Assets/**

!UnitTests/UnitTests.vcxproj
!UnitTests/external/**
!UnitTests/Source/**
