# Ignore everything
*

# But do not ignore following files/directories:
!.gitignore
!README.md
!SpaceShooter.sln
!SpaceShooter.vcxproj
!PostBuild.bat

!Assets
!Assets/**

!Source
!Source/**

!UnitTests
!UnitTests/UnitTests.vcxproj
!UnitTests/external
!UnitTests/external/**
!UnitTests/Source
!UnitTests/Source/**

